body{
    font-family: 'Comic Sans MS', arial;
}

.bottom-aligned {
    display: flex;
    align-items:flex-end;
}
.d{
    left: 28%;
}

.grip{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 15px;
    row-gap: 10px;
    padding: 1rem 2rem;
}

/* estilos para el home */
.cont-home{
    background-image: url('../img/background-dashboard.jpg');
}

.home{
    background-color: rgb(249,252,163,0.80);
    min-height: 100vh;
}

/* estilos para dashboard */

.cont-dashboard{
    background-image: url('../img/background-home.jpg');
    background-size: contain;
}

.bg-dashboard{
    background-color: rgba(255,255,255,0.6);
    
}

.dashboard{
    min-height: 100vh;

}

.header-dashboard{
    width: 30%;
    color: rgb(41,9,4);
}

.dashboard-card{
    border-radius: 25px ;
    border:black solid 5px;
    background-color: rgba(251,255,143,0.9);
}

.card{
    height: 120px;
    box-shadow: 5px 5px 19px -5px rgba(0,0,0,0.75);
}

.bg-dashboard > .logo-marvel{
    right: 0;
}

.btn-replay{
    cursor: pointer;
}

/* estilos para el popup */

.cont-popup{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.content-popup{
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 10px;
    padding: 1em;
    width: 40%;
    background-color: rgb(249,252,163);
    color: rgb(118,93,65);
}

.cont-icons{
    display: flex;
    justify-content: center;
}

.icons{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 2em;
    color: rgb(118,93,65);
}


@media (max-width: 992px) { 

    .cont-home{
        height: 100%;
    }

    .home{
        min-height: vh100;
    }

    .home > .logo-marvel{
        width: 20%;
    }

    .home > .logo-card-memory{
        width: 60%;
    }

    .btn-play{
        width: 60%;
    }

    .header-dashboard{
        width: 80%;
    }
    
    .dashboard-card{
        width: 90%;
    }

    .grip{
        padding: 1rem 1rem;
    }

    .bg-dashboard > .logo-marvel, .logo-card-memory{
        width: 100px;
    }
    
    .content-popup{
        width: 85%;
    }
    
 }

/* <!-- ventana emergente cuando la partida termine -->
        <div class="hidden-md-down" >
            <!-- contenido del popup -->
            <div class="content-popup">
                <img src="img/trophy.svg" alt="">
                <h1>Congratulation!</h1>
                <p>your time</p>
                <p class="time">00:00</p>
                <!-- iconos -->
                <div class="icons">
                    <a href="home.html"><img src="img/home.svg" alt="Home">Home</a>
                    <a href="dashboard.html"><img src="img/replay.svg" alt="Play again">Play again</a>
                </div>
            </div>
        </div>
        <!-- contenedor principal -->-*